body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.l-section-container {
    width: 480px;
    margin: 0 auto;
}

div {
    float: left;
}
/* break point. enter desktop mode */
@media (min-width: 769px) {
    .l-section-container {
        width: 960px;
        margin: 0 auto;
    }
}
